<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Please Register</h1>
<form th:action="@{/web/register}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Reqister" />

</form>
<span style="display:inline-block; height: 30px;"></span>
<a th:href="@{/web/login}">
    <h2>Login</h2>
</a>
</body>
</html>